<h1>Le GUIDE du SOLDAT
</h1>




<ul>
<li>ma vie de soldat</li>
</ul>


<h3>Mon blog sur être un soldat</h3>
<div class="row row-cols-1 row-cols-md-2 g-4">
<%=render collection: Post.myfirst, as: :post, partial:"mypartition"%>
  
  <div class="col">
    <div class="row row-cols-1 row-cols-md-2 g-4">

 <%=render collection: Post.fourfirst, as: :post, partial:"mypartition"%>
</div>
  </div>
</div>
